body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}
.data{
    width: 60%;
    margin: 20px auto;
    border-radius: 8px;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}
.heading {
    width: 60%;
    margin: 30px auto;
    text-align: center;
    color: #333;
    background: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    font-weight: bold;
}


form p {
    color: #d9534f;
    margin: 5px 0 15px 0;
    font-size: 14px;
}

.task_input {
    width: calc(100% - 100px);
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    box-sizing: border-box;
}

.add_btn {
    height: 40px;
    background: #397989;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.add_btn:hover {
    background: #292e2e;
    transform: scale(1.05);
}

table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table th {
    background: #007bff;
    color: white;
    font-size: 14px;
    padding: 4px;
}

table th, table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

table tr:hover {
    background: #e9ecef;
}

.custom-btn {
    background-color: #dc3545; /* Bootstrap danger color */
    border: none;
    color: white;
    padding: 4px 4px;
    text-align: center;
    text-decoration: none;
    
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
    background-color: #c82333; /* Darker shade of the danger color */
    transform: scale(1.05);
}
